<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('ExternalLinks.ejs')%>
</head>
<body>
   <%-include('header.ejs')%>
   <%-include('div.ejs')%>
        <section class="section container">
            <div class="row " style=" box-shadow: 5px 8px 15px black;">
                <div class="col-md-6 p-0">
                    <img src="/img/img7.jpg" id="logimg" height="476" width="100%" alt="">
                </div>
                <div class="col-md-6" id="sec"><br><hr>
                    <form action="/signup" method="post">
                        <h1  id="log"><b>Register Here</b></h1><br>
                        <input  type="text" id="name" name="name" placeholder=" Username......"><br><br>
                        <input  type="text" id="email" name="email" placeholder=" email......"><br><br>
                        <input type="password" id="pass" name="password" placeholder=" password ......"><br><br>
                        <input  type="text" id="contact" name="contact" placeholder=" Contact......"><br><br><br>
                        
                        <button type="submit" id="in" onclick="on()" class="btn btn-outline-dark rounded-pill">Sign Up</button><a href="/signin" id="exist"><small>Existing User ?</small></a><br><br>

                    </form>
                    <hr>
                </div>
            </div>
        </section><br><br><br>
        <%-include('footer.ejs')%>
</body>
</html>